<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>AngularJS in Realtime</title>

  <meta name="description" content="AngularJS in Realtime">
  <meta name="author" content="Daniel Lauzon">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/default.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
  document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

  <div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">

      <section>
        <!-- <img src="http://angularjs.org/img/AngularJS-large.png" style="padding:20px; border-color:#777"> -->
        <img src="https://raw.github.com/angular/angular.js/master/images/logo/AngularJS-Shield.exports/AngularJS-Shield-medium.png" style="padding:20px; border-color:#777">
        

        <!-- <h1>Angular<span style="color:red">JS</span></h1> -->
        <h2 style="text-transform:none; ">AngularJS in Realtime</h2>
        <p>OttawaJS November Meetup</p>
        <p>
          <small>by <a href="http://daniel-lauzon.com">Daniel Lauzon</a> / 
            @<a href="http://twitter.com/daneroo">daneroo</a> / 
            g:<a href="https://github.com/daneroo">daneroo</a>
          </small>
        </p>
        <img src="http://ottawajs.org/logo/OttawaJS.png" style="width:64px;border:0;background:none;box-shadow:none">
      </section>

      <section>
        <h3>Outline</h3>
        <ul>
          <li>Concepts</li>
          <li>Angular from scratch</li>
          <ul class="fragment">
            <li>Minimal requirements</li>
            <li>Adding a controller</li>
          </ul>
          <li>Angular with yeoman</li>
          <ul class="fragment">
            <li>Generators</li>
            <li>Live reload</li>
            <li>Testing</li>
            <li>Production</li>
          </ul>
          <li class="fragment">Angular with socket-io (time permitting)</li>
        </ul>
      </section>

      <section>
        <h2>Concepts</h2>
        <ul>
          <li>HTML Compiler - Extensible</li>
          <li>Model is single source of truth</li>
          <li>2-way Data-binding</li>
          <li>Testable</li>
        </ul>
      </section>

      <section>
        <h4>From Scratch - Boom!</h4>
        <!-- http://htmlentities.net/ -->
        <pre><code style="font-size:80%" contenteditable>&lt;!doctype html&gt;
&lt;html ng-app&gt;
&lt;head&gt;
  &lt;script src=&quot;http://.../angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;              
  &lt;label&gt;Name:&lt;/label&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot;&gt;
  &lt;h3&gt;Hello {{yourName}}!&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;
        </code></pre>
        <ul style="float:left">
          <li><a href="examples/1-minimal.html" target="_blank">full</a></li>
          <li><a href="examples/2-minimal.html" target="_blank">twiddle</a></li>
        </ul>
        <iframe src="examples/1-minimal.html" height="200" width="300"></iframe>
      </section>

      <section>
        <section>
          <h2>Controller</h2>
          <ul>
            <li>Model and <code>$scope</code></li>
            <li><code>ng-repeat</code></li>
            <li class="Zfragment">Using the <a href="https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk">Batarang</a></li>
          </ul>
        </section>

  
        <section>
          <h3>The markup</h3>
          <pre><code style="font-size:80%" contenteditable>&lt;div ng-controller=&quot;LogCtrl&quot; class=&quot;container&quot;&gt;
  &lt;h4&gt;Ops Center Logging&lt;/h4&gt;
  &lt;table class=&quot;table table-condensed table-hover&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;&lt;th width=&quot;5%&quot;&gt;Stamp&lt;/th&gt;&lt;th width=&quot;5%&quot;&gt;Critical&lt;/th&gt;&lt;th&gt;Message&lt;/th&gt;&lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr ng-repeat=&quot;entry in entries&quot;&gt;
        &lt;td&gt;{{entry.level}}&lt;/td&gt;
        &lt;td class="text-{{entry.level}}"&gt;{{entry.stamp |date:&quot;HH:mm:ss&quot; }}&lt;/td&gt;
        &lt;td&gt;{{entry.msg}}&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
          </code></pre>
        </section>

        <section>
          <h3>The controller</h3>
          <pre><code style="font-size:80%" contenteditable>
function LogCtrl($scope) {
  $scope.entries = [
    {stamp:new Date(),level:'success',msg:'Operations Start'},
    {stamp:new Date(),level:'info',   msg:'Operations Normal'},
    {stamp:new Date(),level:'warning',msg:'It\'s getting warm in here'},
    {stamp:new Date(),level:'error',  msg:'Something bad happened'}
  ];
}          </code></pre>
        </section>

        <section>
          <iframe src="examples/3-controller.html" height="400" width="80%"></iframe>
        </section>

      </section>


      <section>
        <h2>Directive</h2>
        <ul>
          <li>Extend html vocabulary</li>
          <li>Unit of re-use</li>
          <li>Flexible binding</li>
        </ul>
      </section>

      <section>
        <h2>Dependency Injection</h2>
      </section>
      <section>
        <h2>Routes</h2>
      </section>
      <section>
        <h2>Testing - w/<code>yeoman</code></h2>
      </section>

      <section>
        <h1>THE END</h1>
        <p>Questions ...</p>
        <p>Comments ...</p>
        <br>
        <p>
          <small>by <a href="http://daniel-lauzon.com">Daniel Lauzon</a> / 
            @<a href="http://twitter.com/daneroo">daneroo</a> / 
            g:<a href="https://github.com/daneroo">daneroo</a>
          </small>
        </p>
        <img src="http://ottawajs.org/logo/OttawaJS.png" style="width:64px;border:0;background:none;box-shadow:none">
      </section>

    </div>

  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.min.js"></script>

  <script>

  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

    // Optional libraries used to extend on reveal.js
    dependencies: [
    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
    { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
  });

</script>

</body>
</html>
