<div>
  <h4>Ops Center Logging ({{level||'All'}}<span ng-show="limit">, last: {{limit}}</span>)</h4>
  Search: <input ng-model="search"><br>
  <table class="table table-condensed table-hover">
    <thead>
      <tr><th width="5%">Stamp</th><th width="5%">Critical</th><th>Message</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries | filter:level | filter:search | limitTo:limit||99">
        <td>{{entry.stamp |date:"HH:mm:ss" }}</td>
        <td class="text-{{entry.level}}">{{entry.level}}</td>
        <td>{{entry.msg}}</td>
      </tr>
    </tbody>
  </table>
</div>
