<!doctype html>
<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body style="margin-top:3px">
    <div class="container">
      <div class="well">
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <br>
        <input type="text" ng-model="yourName" placeholder="or here">
        <hr>
        <h4>Hello {{yourName}}!</h4>
        <h4 ng-show="yourName">Hello {{yourName}}, since you exist!</h4>
        <p class="{{yourName}}">I might be muted, text-error</p>
      </div>
    </div>
  </body>
</html>